<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chi tiết sản phẩm</title>
    <base href="http://localhost:5000/" />
    <!-- Latest compiled and minified CSS -->
</head>
<body>

<section class="main col-md-12">
    <div class="container">
        <h1>ưbm</h1>

    </div>
</section>
</body>
</html>