<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>nodejs</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="css/vdbtjs.css" type="text/css"/>
</head>
<body>
<h1>Phương trình bậc 2</h1>
<h4>ax2 + bx + c = 0</h4>
<h3>Nhập a</h3>
<input type="text" id="txtA" placeholder="nhập a" required="required"/>
<h3>Nhập a</h3>
<input type="text" id="txtB" placeholder="nhập b"/>
<h3>Nhập a</h3>
<input type="text" id="txtC" placeholder="nhập c"/>

<div onClick="batdautinh()" style="background-color: green;color: white;width: 200px;height: 50px;padding: 5px;text-align: center;cursor: pointer">Bắt đầu</div>

<script src="js/vdboostrap.js" type="text/javascript"></script>
<script src="js/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>